<fieldset class="scheduler-border" style="
    background-color: #fafafa;
    border: 2px solid #90caf9;
    border-radius: 8px;
    padding: 15px;
  ">
  <legend class="scheduler-border" style="
      background-color: #ffcc80;
      color: #333333;
      padding: 5px 10px;
      border-radius: 8px;
    ">
    <b>ข้อมูลผู้ป่วย :</b>
  </legend>
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="form-group">
        <label class="col-xs-4 col-sm-4 col-md-4 control-label" style="color: #555555">วันที่ส่งกลับ:
        </label>
        <div class="col-xs-8 col-sm-8 col-md-8">
          <p style="padding-top: 7px; margin-bottom: 0; color: #333333">
            {{ row?.vstdate | thaidate : "medium" }}
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="form-group">
        <label class="col-xs-4 col-sm-4 col-md-4 control-label" style="color: #555555">ชื่อ-สกุล:
        </label>
        <div class="col-xs-8 col-sm-8 col-md-8">
          <p style="padding-top: 7px; margin-bottom: 0; color: #333333">
            {{ row?.pname }}{{ row?.fname }} {{ row?.lname }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="form-group">
        <label class="col-xs-4 col-sm-4 col-md-4 control-label" style="color: #555555">HN:
        </label>
        <div class="col-xs-8 col-sm-8 col-md-8">
          <p style="padding-top: 7px; margin-bottom: 0; color: #333333">
            {{ row?.hn }}
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="form-group">
        <label class="col-xs-4 col-sm-4 col-md-4 control-label" style="color: #555555">เลขบัตรประชาชน:
        </label>
        <div class="col-xs-8 col-sm-8 col-md-8">
          <p style="padding-top: 7px; margin-bottom: 0; color: #333333">
            {{ row?.cid }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="form-group">
        <label class="col-xs-4 col-sm-4 col-md-4 control-label" style="color: #555555">อายุ:
        </label>
        <div class="col-xs-8 col-sm-8 col-md-8">
          <p style="padding-top: 7px; margin-bottom: 0; color: #333333">
            {{ row?.birthday | age }}
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="form-group">
        <label class="col-xs-4 col-sm-4 col-md-4 control-label" style="color: #555555">ที่อยู่:
        </label>
        <div class="col-xs-8 col-sm-8 col-md-8">
          <p style="padding-top: 7px; margin-bottom: 0; color: #333333">
            {{ row?.informaddr }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="form-group">
        <label class="col-xs-4 col-sm-4 col-md-4 control-label" style="color: #555555">เบอร์โทร:
        </label>
        <div class="col-xs-8 col-sm-8 col-md-8">
          <p style="padding-top: 7px; margin-bottom: 0; color: #333333">
            {{ row?.tel }}
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="form-group">
        <label class="col-xs-4 col-sm-4 col-md-4 control-label" style="color: #555555">เบอร์โทร(ญาติ):
        </label>
        <div class="col-xs-8 col-sm-8 col-md-8">
          <p style="padding-top: 7px; margin-bottom: 0; color: #333333">
            {{ row?.telinform }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="form-group">
        <label class="col-xs-4 col-sm-4 col-md-4 control-label" style="color: #555555">โรงพยาบาล Refer back:</label>
        <div class="col-xs-8 col-sm-8 col-md-8">
          <p style="padding-top: 7px; margin-bottom: 0; color: #333333">
            {{ row?.dwh_name }}
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="form-group">
        <label class="col-xs-4 col-sm-4 col-md-4 control-label" style="color: #555555">โรคประจำตัว:
        </label>
        <div class="col-xs-8 col-sm-8 col-md-8">
          <p style="padding-top: 7px; margin-bottom: 0; color: #333333">
            {{ row?.clinicname }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="form-group">
        <label class="col-xs-4 col-sm-4 col-md-4 control-label" style="color: #555555">ICD-9:
        </label>
        <div class="col-xs-8 col-sm-8 col-md-8">
          <p style="padding-top: 7px; margin-bottom: 0; color: #333333" [innerHtml]="icd(row?.icd9)"></p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="form-group">
        <label class="col-xs-4 col-sm-4 col-md-4 control-label" style="color: #555555">ICD-10:
        </label>
        <div class="col-xs-8 col-sm-8 col-md-8">
          <p style="padding-top: 7px; margin-bottom: 0; color: #333333" [innerHtml]="icd(row?.icd10)"></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="form-group">
        <label class="col-xs-4 col-sm-4 col-md-4 control-label" style="color: #555555">Drug allergy:
        </label>
        <div class="col-xs-8 col-sm-8 col-md-8">
          <p style="padding-top: 7px; margin-bottom: 0; color: #333333">
            {{ row?.drug_allergy }}
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="form-group">
        <label class="col-xs-4 col-sm-4 col-md-4 control-label" style="color: #555555">DIAG_TEXT:
        </label>
        <div class="col-xs-8 col-sm-8 col-md-8">
          <p style="padding-top: 7px; margin-bottom: 0; color: #333333">
            {{ row?.diag_text }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label class="col-xs-2 col-sm-2 col-md-2 control-label" style="color: #555555">CC:
        </label>
        <div class="col-xs-10 col-sm-10 col-md-10">
          <p style="padding-top: 7px; margin-bottom: 0; color: #333333">
            {{ row?.cc }}
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label class="col-xs-2 col-sm-2 col-md-2 control-label" style="color: #555555">PE:
        </label>
        <div class="col-xs-10 col-sm-10 col-md-10">
          <p style="padding-top: 7px; margin-bottom: 0; color: #333333">
            {{ row?.pe }}
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label class="col-xs-2 col-sm-2 col-md-2 control-label" style="color: #555555">HPI:
        </label>
        <div class="col-xs-10 col-sm-10 col-md-10">
          <p style="padding-top: 7px; margin-bottom: 0; color: #333333">
            {{ row?.hpi }}
          </p>
        </div>
      </div>
    </div>
  </div>
</fieldset>